<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".LoginScreenNav"
            android:exported="false"
            android:label="@string/title_activity_login_screen_nav"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ConstraintLayoutEx"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".QuizApp2"
            android:exported="false"
            android:label="@string/title_activity_quiz_app2"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".NavEx"
            android:exported="false"
            android:label="@string/title_activity_nav_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".QuizApp"
            android:exported="false"
            android:label="@string/title_activity_quiz_app"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HigherOrderFnEx"
            android:exported="false"
            android:label="@string/title_activity_higher_order_fn_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ConstraintLayoutExample"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_example"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".InstaForm"
            android:exported="false"
            android:label="@string/title_activity_insta_form"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BMICalc"
            android:exported="false"
            android:label="@string/title_activity_bmicalc"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".SimpleCalc"
            android:exported="false"
            android:label="@string/title_activity_simple_calc"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>