<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".LiveDataExercise"
            android:exported="false"
            android:label="@string/title_activity_live_data_exercise"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".LiveDataEx"
            android:exported="false"
            android:label="@string/title_activity_live_data_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".PeriodicWorkerEx"
            android:exported="false"
            android:label="@string/title_activity_periodic_worker_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ThirdPartyLibEx"
            android:exported="false"
            android:label="@string/title_activity_third_party_lib_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".WorkerEx"
            android:exported="true"
            android:label="@string/title_activity_worker_ex"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewModelEx"
            android:exported="false"
            android:label="@string/title_activity_view_model_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".LifeCycleEx"
            android:exported="true"
            android:label="@string/title_activity_life_cycle_ex"
            android:theme="@style/Theme.MyApplication">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".NotificationEx"
            android:exported="false"
            android:label="@string/title_activity_notification_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".LazyColumnEx"
            android:exported="false"
            android:label="@string/title_activity_lazy_column_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".NavbarEx"
            android:exported="false"
            android:label="@string/title_activity_navbar_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ScaffoldSample"
            android:exported="false"
            android:label="@string/title_activity_scaffold_sample"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".NavScreenExercise2809"
            android:exported="false"
            android:label="@string/title_activity_nav_screen_exercise2809"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".LoginScreenNav"
            android:exported="false"
            android:label="@string/title_activity_login_screen_nav"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ConstraintLayoutEx"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".QuizApp2"
            android:exported="false"
            android:label="@string/title_activity_quiz_app2"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".QuizApp"
            android:exported="false"
            android:label="@string/title_activity_quiz_app"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HigherOrderFnEx"
            android:exported="false"
            android:label="@string/title_activity_higher_order_fn_ex"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ConstraintLayoutExample"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_example"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".InstaForm"
            android:exported="false"
            android:label="@string/title_activity_insta_form"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BMICalc"
            android:exported="false"
            android:label="@string/title_activity_bmicalc"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".SimpleCalc"
            android:exported="false"
            android:label="@string/title_activity_simple_calc"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>